
body{
    margin:0px;
    font-family: Tahoma;
}
/*===Estilos Globais===*/

.secao{
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
}
.paragrafo{
    font-size: 18px;
    text-align: justify;
    line-height: 28px;
    margin: 10px auto;
    width:980px
}

/*===1ª Seção===*/

.topo{
    background-color: #ffffff;
}
.topo img{
    width:150;
}
.paragrafo-topo{
    margin-top: 15px;
    text-align: center;
    margin-bottom:25px;
}
.link-topo{
    color:#1d1d1d;
    font-size: 18px;
    text-decoration: none;
    margin:0px 10px;
    border-bottom: 2px solid #1d1d1d;
}

/*===2ª Seção - BANNER===*/

.banner{
    padding-top: 0;
    margin-top: 50px;
}

/*=== Estilos para destaques ===*/

span{
    font-weight: bold;;
}

/*===3ª Seção===*/

h1{
    color: #1d1d1d;
    margin-bottom: 5px;
}
h2{
    font-weight: normal;
    color:#1c81c0;
    margin-top: 0px;
}
.imagem{
    width: 450px;
}
.texto-azul{
    color:#093d5f;
}

/*===4ª Seção===*/

.servicos, .contato {
    background-color: #9febee;
}
h3{
    color: #4907c5;
    font-size: 28px;
    line-height: 42px;
}
.paragrafo-serviços{
    color:#e78f0a;
    line-height: 42px;
    width:700px;
    font-size:22px;
    text-align: center;
}
.texto-amarelo{
    color: #df7410;
}
.lista-servicos{
    width: 30px;
    margin:30px auto 30px;
}
.item-lista-servicos{
    font-size: 22px;
    line-height:32px;
    text-align: left;
    color:#4907c5;
    
}

/*===6ª Seção===*/

.paragrafo-contato {
    color: #fff;
    background-color: #1d1d1d;
    padding: 15px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.lista-contato {
    width: 210px;
    list-style: none;
    margin: 40px auto 40px;
}

.item-lista-contato {
    margin-top: 15px;
    text-align: center;
    font-size: 18px;
}

.link-contato {
    background-color: #ffffff;
    color: #1d80c1;
    padding: 2px 5px;
    border-radius: 5px;
}